
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.center-part img{
    cursor: pointer;
}



.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    width: 100%;
    background-color: #F5EBDC;
    color: #502314;
    font-family: 'Lilita One', cursive;
    position: fixed;
    font-size: 18px;

}

ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-left: 30px;
    cursor: pointer;

}
li:hover{
    color: #D62300;
}

.right-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-btn{
    margin-right: 30px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #D62300;
    color: white;

}

.signup-btn:hover{
    background-color:#C12000;
    transition: 0.3 all ease;
}

.cart-btn{
    margin-right: 30px;
    background-color: #502314;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;


}



.choose-location{
    font-size: 16px;
    font-weight: 200px;
    margin:  0px 30px;
}
.choose-location a{
    color: #502314;
    margin: 0 30px;
    font-size: 16px;
    
}
.choose-location a:hover {
    text-decoration: none;
}
/*------------------Header style Ending-------------------------------*/


/*------------------Main styling-------------------------------*/
.main-container{
    background-color: #F5EBDC;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 160px 90px;
    justify-content: space-evenly;

}
.item-container{
    width: 560px;
    height: 420px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
.item-image{
    height: 70%;
}
.item-image img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 100%;
}
.item-details{
    height: 30%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;

}
.text{
    width: 75%;
    color: #502314;
}
.text p{
margin-top: 10px;
font-size: 15px;
}

.item-details button{
align-self: flex-end;
}

.btn{
padding: 13px 14px;
font-size: 13px;
color: #D62300;
border-radius: 50px;
border: 1px solid #D62300;
background-color: #fff;
font-weight: 900;
cursor: pointer;
}
.btn:hover{
    background-color: #d623001a;
}
.footer-container{
    background-color: #2B0200;
    height: 200PX;
    color: #F5EBDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}
.left-footer h1{
margin-bottom: 20px;
}

.right-footer i{
font-size: 30px;
margin-right: 20px;
cursor: pointer;
transition: 0.2s all ease;
color:#F5EBDC;
}

.right-footer i:hover{
    font-size: 35px;
    color: aqua;
}